<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/integration</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="K8S_ACCESS_TOKEN" value="{{K8S_ACCESS_TOKEN}}" force="true" />
        <env name="K8S_ENDPOINT" value="{{K8S_ENDPOINT}}" force="true" />
    </php>
</phpunit>
